{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git"}},
    {webmachine, ".*", {git, "git://github.com/Webmachine/webmachine.git"}},
    {eredis, ".*", {git, "git://github.com/wooga/eredis.git"}},
    {ranch, ".*", {git, "git://github.com/ninenines/ranch.git"}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}}
]}.
